[Unit]
Description=Reboot if rpm-ostree has a staged deployment
ConditionPathExists=/run/ostree/staged-deployment
After={{ base_setup_backup_targets | map(attribute='name') | map('regex_replace', '^(.+)$', 'btrfs-backup@\\1.service') | join(' ') }}

[Service]
Type=oneshot
ExecStart=systemctl reboot --check-inhibitors=yes
