[Unit]
Description=restic backup of the newest service snapshots
Wants=network-online.target
After=network-online.target {{ base_setup_services | map(attribute='name') | map('regex_replace', '^(.+)$', 'btrfs-snapshot@\\1.service') | join(' ') }}

[Service]
Type=oneshot
TimeoutStartSec=12h
Environment=BTRFS_SNAPSHOT_DIR={{ base_setup_btrfs_snapshot_dir }}
Environment=NODE_TEXTFILE_DIR={{ base_setup_textfile_dir }}
ExecStart=systemd-inhibit --what=shutdown --who=restic-backup --why="restic backup in progress" /usr/local/bin/restic-backup.sh
