[Unit]
Description=Keep the service users off private networks
DefaultDependencies=no
Before=network-pre.target
Wants=network-pre.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/nft -f /etc/nftables/service-egress.nft

[Install]
WantedBy=multi-user.target
